<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div id="root">
           单项绑定<input type="" name="" id="" :value="name" v-model:x='name'/> 
           双向绑定<input type="" name="" id="" v-model="name" />
           
           <!-- v-model只能给表单类元素使用 找的是value 所以直接简写 v-model:value='' v-model='' -->
           <h2 v-model:x='name'></h2>
        </div>
        <script type="text/javascript">
            const v = new Vue({
                el: '#root',
                data: {
                    name: 'xxx'
                }
            })
        </script>
    </body>
</html>
